
body {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans;', sans-serif;
	color: black;
	font-size: 16px;
	background-color: #FFFFFF;
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

h2 {
	font-size: 50px;
	margin-bottom: 58px;
}

h3 {
	font-size: 25px;
	margin-bottom: 28px;
}

a {
	text-decoration: none;
}

section {
	padding-top: 50px	
}

p {
	margin: 0;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

.landing{
	background: url('../img/header-bg.jpg') no-repeat top center ;
	text-transform: uppercase;
	padding-top: 150px;
	padding-bottom: 150px;
	margin-top: -10px;
	padding-left: 20px;
}

.landing p {
	font-size: 30px;
	letter-spacing: 0.1em;
	color: white;
	margin-left: 70px;
}

.landing h1 {
	font-size: 100px;
	margin-bottom: 19px;
	margin-top: -9px;
	letter-spacing: 0.02em;
	color: white;
    margin-left: 70px;
}

.container {
	width: 1170px;
	/*позиционирование по центру*/
	margin: 0 auto; 
}

.header {
	background: url('../img/menu.jpg') no-repeat top center ;
	padding-top: 57px;
	color: #fff;
	padding-bottom: 57px;
}

header a {
	color: #fff;
}

.logo {
	margin-right: 69px;
}

.menu {
	display: flex;
}

.menu li a {
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 0.1em;
}

.menu li a:hover {
	border-bottom: 1px solid #fff;
}

.menu li {
	margin-right: 40px;
}

.tel {
	font-size: 17px;
	margin-left: auto;
	letter-spacing: 0.1em;
}

.nav {
	display: flex;
	align-items: center;
}

.landing-btn {
	display: block;
	font-size: 17px;
	text-align: center;
	letter-spacing: 0.1em;
	padding: 15px 0px;
	border: 1px solid #fff;
	width: 250px;
	transition: all 0.5s ease;
	color: white;
	margin-left: 120px;
}

.landing-btn:hover {
	background: #fff;
    color: #000;
}


.login-area {
	display: block;
	text-align: center;
}

.login-area p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-align: center;
	line-height: 1.62em;

}
.login-area h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	margin-left: 20px;
	text-transform: none;
}


.gallery {
	margin-top: 67px;
	display: flex;
	justify-content: space-between;
}

.gallery img {
	transition: all 0.5s ease;
}

.gallery img:hover {
	box-shadow: 0 20px 40px rgba(0,0,0,0.3);
	transform: scale(1.1);
}

.footer{
	background-color: #BEBEBE;

}

.footer-text {
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	padding: 50px 0

	/*До сих*/


	/*До сих*/
}

.footer-text p {
	margin-right: 67px;
}

.loginbtn {
	display: block;
	font-size: 14px;
	text-align: center;
	letter-spacing: 0.1em;
	padding: 10px 10px;
	border: 1px solid #fff;
	width: 150px;
	transition: all 0.5s ease;
	margin-left: auto;
}

.loginbtn:hover {
	background: #fff;
    color: #000;
}
/*Ебаное поле введите пароль
От сих */
.input-wrapper {
	margin-top: 20px;
	margin-left: 20px;
	box-shadow: rgba(113, 113, 113, 0.15) -5px -5px 11px,
	rgba(0, 0, 0, 0.15) 5px 5px 11px;
	width: 395px;
	display: flex;
	align-items: center;
	margin-bottom: 28px;
	margin-right: auto;
	margin-left: auto;
	height: 45px;
}

.input-wrapper input {
	background: transparent;
	border: none;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	text-indent: 20px;
	color: #B2BECD;
	font-size: 25px;
	outline: 0;

}
.input-icon {
	width: 20px;
	margin-right: 20px;
	border-radius: 50px;
	padding: 3px 6px;
	cursor: pointer;
	transition: all .4s ease;
	align-items: center;
}
.input-icon.selected {
	background-color: #2d2d2d;
}
.input-icon img{
	max-width: 100%;
}
::-webkit-input-placeholder {
	color: #B2BECD;
}
.input-wrapper-login {
	margin-top: 20px;
	margin-left: 20px;
	box-shadow: rgba(113, 113, 113, 0.15) -5px -5px 11px,
	rgba(0, 0, 0, 0.15) 5px 5px 11px;
	width: 395px;
	display: flex;
	align-items: center;
	height: 45px;
	margin-bottom: 28px;
	margin-right: auto;
	margin-left: auto;
}
.input-wrapper-login input {
	background: transparent;
	border: none;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	text-indent: 20px;
	color: #B2BECD;
	font-size: 25px;
	outline: 0;
}
/*Два блока футера*/
.left, .right {
    display: inline-block;
    //display: inline;
    //zoom: 1;
    width: 100%;
    
    vertical-align: bottom;
}
.right {
    text-align: right;
}
.right img{
	height: 30px;
	width: 30px;
	transition: all 0.5s ease;
}
.left a:hover{
	border-bottom: 1px solid black;
}
До сих*/