{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" media="screen">
{% endblock %}

{% block content %}
<section id="about" class="about">
    <div class="container">
        <div class="login-area">
            <H3>Войти</H3>

            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="login-area">
                    <p>Введите ваш логин</p>
                    <div class="input-wrapper-login">
                        <div>{{ form.username }}</div>
                    </div>

                    <p>Введите ваш пароль</p>
                    <div class="input-wrapper">
                        <div>{{ form.password }}</div>
                    </div>
                </div>
                <div>
                    <input type="submit" value="Войти" class="btn">
                    <a href="{% url 'register' %}" style="margin-top: 20px; font-family: 'Open Sans', sans-serif;">Нет аккаунта? Зарегистрироваться</a>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}