{% extends 'base.html' %}
{% load static %}

{% block style %}
<meta name="page_type" content="np-template-header-footer-from-plugin">
<title>Библиотека</title>
<link rel="stylesheet" href="{% static 'css/main_styles.css' %}" media="screen">
<link rel="stylesheet" href="{% static 'css/accounts.css' %}" media="screen">
<script class="u-script" type="text/javascript" src="{% static 'js/jquery-1.9.1.min.js' %}" defer=""></script>
<script class="u-script" type="text/javascript" src="{% static 'js/main_js.js' %}" defer=""></script>
{% endblock %}

{% block content %}
<!--<section class="u-clearfix u-section-1" id="sec-8fd8">-->
<!--      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">-->
<!--        <div class="u-form u-form-1">-->
<!--          <form action="https://nicepage.com/editor/Forms/Process" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form" style="padding: 10px;">-->
<!--            <input type="hidden" id="siteId" name="siteId" value="1305828">-->
<!--            <input type="hidden" id="pageId" name="pageId" value="1318682">-->
<!--            <div class="u-form-group u-form-name">-->
<!--              <label for="name-0a2c" class="u-label">Фамилия</label>-->
<!--              <input type="text" placeholder="Введите вашу фамилию" id="name-0a2c" name="name" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">-->
<!--            </div>-->
<!--            <div class="u-form-group u-form-group-2">-->
<!--              <label for="text-4972" class="u-label">Имя</label>-->
<!--              <input type="text" placeholder="Введите ваше имя" id="text-4972" name="text" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">-->
<!--            </div>-->
<!--            <div class="u-form-group u-form-group-3">-->
<!--              <label for="text-ec34" class="u-label">Отчество</label>-->
<!--              <input type="text" placeholder="Введите ваше отчество" id="text-ec34" name="text-1" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">-->
<!--            </div>-->
<!--            <div class="u-form-group u-form-group-4">-->
<!--              <label for="text-587b" class="u-label">Никнейм</label>-->
<!--              <input type="text" placeholder="Введите никнейм" id="text-587b" name="text-2" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">-->
<!--            </div>-->
<!--            <div class="u-form-group u-form-group-5">-->
<!--              <label for="text-13b8" class="u-label">Пароль</label>-->
<!--              <input type="text" placeholder="Введите пароль" id="text-13b8" name="text-3" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">-->
<!--            </div>-->
<!--            <div class="u-form-group u-form-group-6">-->
<!--              <label for="text-f98a" class="u-label">Повторите пароль</label>-->
<!--              <input type="text" placeholder="Повторите пароль" id="text-f98a" name="text-4" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">-->
<!--            </div>-->
<!--            <div class="u-form-group u-form-group-7">-->
<!--              <label for="text-5ec2" class="u-label">Телефон</label>-->
<!--              <input type="text" placeholder="Введите ваш номер телефона" id="text-5ec2" name="text-5" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">-->
<!--            </div>-->
<!--            <div class="u-form-email u-form-group">-->
<!--              <label for="email-0a2c" class="u-label">Эл. почта</label>-->
<!--              <input type="email" placeholder="Введите Ваш email адрес" id="email-0a2c" name="email" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">-->
<!--            </div>-->
<!--            <div class="u-form-group u-form-group-9">-->
<!--              <label for="text-d699" class="u-label">Ваша школа</label>-->
<!--              <input type="text" placeholder="Введите название вашей школы" id="text-d699" name="text-6" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">-->
<!--            </div>-->
<!--            <div class="u-form-group u-form-select u-form-group-10">-->
<!--              <label for="select-3fb5" class="u-label">Хто вы</label>-->
<!--              <div class="u-form-select-wrapper">-->
<!--                <select id="select-3fb5" name="select" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">-->
<!--                  <option value="Ученик">Ученик</option>-->
<!--                  <option value="Учитель">Учитель</option>-->
<!--                  <option value="Родитель">Родитель</option>-->
<!--                </select>-->
<!--                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret"><path fill="currentColor" d="M4 8L0 4h8z"></path></svg>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="u-align-center u-form-group u-form-submit">-->
<!--              <a href="#" class="u-btn u-btn-submit u-button-style">Зарегистрироваться<br>-->
<!--              </a>-->
<!--              <input type="submit" value="submit" class="u-form-control-hidden">-->
<!--            </div>-->
<!--            <div class="u-form-send-message u-form-send-success"> Спасибо! Ваше сообщение отправлено. </div>-->
<!--            <div class="u-form-send-error u-form-send-message"> Отправка не удалась. Пожалуйста, исправьте ошибки и попробуйте еще раз. </div>-->
<!--            <input type="hidden" value="" name="recaptchaResponse">-->
<!--          </form>-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>-->
<form method="post" style="padding: 10px;">
    {% csrf_token %}
    {% for field in form %}
    <div class="u-form-email u-form-group" style="margin: 5px;">
        <label class="u-label">{{ field.label_tag }}</label>
        <div>{{ field }}</div>
    </div>
    {% endfor %}
    <button type="submit">Register</button>
</form>

{% endblock %}