{% extends 'base.html' %}
{% load static %}

{% block style %}
<meta name="page_type" content="np-template-header-footer-from-plugin">
<title>Библиотека</title>
<link rel="stylesheet" href="{% static 'css/main_styles.css' %}" media="screen">
<link rel="stylesheet" href="{% static 'css/accounts.css' %}" media="screen">
<script class="u-script" type="text/javascript" src="{% static 'js/jquery-1.9.1.min.js' %}" defer=""></script>
<script class="u-script" type="text/javascript" src="{% static 'js/main_js.js' %}" defer=""></script>
{% endblock %}

{% block content %}

<form method="post" class="u-clearfix u-form-spacing-10 u-inner-form" style="padding: 10px;">
    {% csrf_token %}
    {% for field in form %}
    <div class="u-form-email u-form-group" style="margin: 5px;">
        <label class="u-label">{{ field.label_tag }}</label>
        <div>{{ field }}</div>
    </div>
    {% endfor %}
    <button type="submit">Register</button>
</form>

{% endblock %}